<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qujiali.springboot.mapper.GoodsStandardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qujiali.springboot.entity.GoodsStandard">
        <id column="id_" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="standard" property="standard" />
        <result column="price" property="price" />
        <result column="enable_" property="enable" />
        <result column="remark_" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>
    <select id="queryByGoodsId" resultMap="BaseResultMap">
        SELECT * FROM `goods_standard` where goods_id = #{GoodsId}
    </select>

</mapper>
